#show-pages {
  .main-content {
    height: 100%;
    padding-bottom: 25px;
  }



  .nav-show-details {
    li {list-style: none; display: inline-block;}
    a {display: block; padding: 5px 10px;}
  }


  .sneakpeek {
    ul li:nth-child(even) {margin-bottom: 10px;}
  }

  .photo-creds {
    li {
      display: inline-block;
      padding: 0 10px;
      border-right: 1px solid $enk-black;
      &:last-child {border-right: 0;}
    }
  }

  .photo-gallery {
    li {
      display: inline-block;
      margin: 10px;
    }
  }
}